version: '3.8'

services:
  app:
    image: node:20-slim
    container_name: nextcloud
    ports: 
      - "8080:3000"
    working_dir: /app
    volumes:
      - ./:/app:delegated
      # - /app/node_modules  
      # - /app/.next  
    command:
      - sh 
      - -c 
      - |
        # Update and install git
        apt-get update && apt-get install -y git
        # npm create cloudflare@latest app --framework=next
        # npm i
        echo "Container ready."
        # npm run dev
        tail -f /dev/null